* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/graph.jpg");
    background-repeat: no-repeat;
    background-color: black; 
    background-attachment: fixed;
    background-position: center;

    --text_color: white;
    --button_background_color: rgba(0,0,0,0.6);
    --text_background_color: rgba(0,170,225,0.7);
    --border_color: rgba(25, 129, 190, 1);
}

a::-moz-focus-inner {
    border: 0;
}

a:focus {
    outline:0;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    display:inline-block;
    border-radius:100%;
    background-color: rgba(0,0,0,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0px;
}

button::-moz-focus-inner {
    border: 0;
}

.TopHeader {
    background-color: var(--text_background_color);
    color: var(--text_color);
    font-size: 350%;
    text-align: center;
    border-radius: 50px;
}

article{
    margin-top: 5%;
    background-color: var(--text_background_color);
    color: var(--text_color);
    font-size: 120%;
    word-wrap: normal;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 2%;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
}

#TimeList {
    list-style-type: none;
}

#TimeList li {
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--text_color);
    position: relative;
}

#TimeList li::before{
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    top: -10px;
    width: 3px;
    height: 10px;
    background: var(--border_color);
    z-index: -1;
}

#TimeList li:first-child::before {
    display: none;
  }


#TimeList li button:active {
    background-color: var(--border_color);
}

#TimeList li button {
    color: var(--text_color);
    font-size: 110%;
    outline: 0;
    width:100px;
    height:100px;
    display:inline-block;
    text-align:center;
    position:relative;
    border-radius:100%;
    background-color: var(--button_background_color);
    border-color: var(--border_color);
    border-style: solid;
    border-width: 2px;
}

a span {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
