.projectFrame {
    width: 512px;
    height: 280px;
    object-fit: cover;
    opacity: 1;
}

.Flipper {
    margin-top: 10%;
    perspective: 1000px;
}

.Flipper:hover .Flipper-inner {
    display: inline-block;
}

.Flipper-inner {
    transform: rotateY(80deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}