{% include  "navigation-menu.html"%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/general.css">
        <title>Camilo Talero</title>
    </head>

    <body>
        <section>
            <h1 class="TopHeader">Camilo Talero</h1>

            <article>
                <h1>About Myself</h1>
                <p id="MainText">
                    <script>setWelcome()</script>
                </p>
            </article>
        </section>
    </body>

    <script src="static/scripts/page_change.js"></script>
</html>