<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/general.css"/>
</head>

<body>

<div class="row">

	{% include  "navigation-menu.html"%}
	<div class="col-10" id="Headers">
		<h1 id="FirstHead" class="TopHeader">Chania</h1>
	</div>

	<div class="col-10" id="VolatileSection">
		<h1>The City</h1>
		<p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
		<p>Resize the browser window to see how the content respond to the resizing.</p>
	</div>

</div>

<script src="static/scripts/page_change.js"></script>
</body>
</html>
