<div class="fixed col-1 menu" style="margin-top: 5%">
    <ul>
        <li>
            <button id="welcome_button" onclick="setWelcome()" class="NavButton">
                <span>Home<span></span>
            </button>
        </li>
        <li>
            <button id="resume_button" onclick="setResume()" class="NavButton">
                <span>Resume<span>
            </button></li>
        </li>

        <li>
            <button id="projects_button" onclick="setProjects()" class="NavButton">
                <span>Projects<span>
            </button></li>
        </li>

        <li>
            <button id="gallery_button" onclick="setGallery()" class="NavButton">
                <span>Gallery<span>
            </button></li>
        </li>
    </ul>
</div>