

<script>
        $(function() {
            $('.coverflow').coverflow();

            if ($.fn.reflect) {
                $('.projects .cover').reflect();
            }

            $('.projects').coverflow({
                duration:		1000,
                index:			3,
                width:			320,
                height:			240,
                visible:		'density',

                selectedCss:	{	opacity: 1	},
                outerCss:		{	opacity: .1	},

                before:			function() {
                    $('#photos-name').stop(true).fadeOut('fast');
                },
            });
    
        });
    </script>



<div class="col-10" style="height: 400px">
    <div class="projects" autofocus>
        <img class="cover" data-name="Attic" src="static/demo/attic.jpg"/>
        <img class="cover" data-name="Aurora Borealis" src="static/demo/aurora.jpg"/>
        <img class="cover" data-name="Barbecued steak" src="static/demo/barbecue.jpg"/>
        <img class="cover" data-name="Black swan" src="static/demo/blackswan.jpg"/>
        <img class="cover" data-name="Chess" src="static/demo/chess.jpg"/>
        <img class="cover" data-name="Fire" src="static/demo/fire.jpg"/>
        <img class="cover" data-name="Keyboard" src="static/demo/keyboard.jpg"/>
        <img class="cover" data-name="Locomotive" src="static/demo/locomotive.jpg"/>
        <img class="cover" data-name="Novo-Diveevo monastery" src="static/demo/diveevo.jpg"/>
        <img class="cover" data-name="Person" src="static/demo/person.jpg"/>
        <img class="cover" data-name="Rose" src="static/demo/rose.jpg"/>
        <img class="cover" data-name="Seagull" src="static/demo/seagull.jpg"/>
        <img class="cover" data-name="Solar power" src="static/demo/solarpower.jpg"/>
    </div>
</div>

