<div id="Headers" class="col-10">
    <h1 class="TopHeader" id="FirstHead">Camilo Talero</h1>
    <h1 class="TopHeader" id="SecondHead">
        <a target="_blank" href="https://github.com/Makogan">
            <img src="static/images/GitHub-Mark.png" width="55px" height="55px" >
        </a>

        <a target="_blank" href="https://gitlab.com/Makogan">
            <img src="static/images/gitlab_logo.png"  width="55px" height="55px">
        </a>

        <a target="_blank" href="https://www.linkedin.com/in/camilo-talero-3906a9167/">
            <img src="static/images/linkedin_logo.png"  width="55px" height="55px">
        </a>

        <div class="popup">
            <img src="static/images/mail.png" onclick="openPopup()" width="55px" height="55px">
            <span class="popuptext" id="myPopup">
                camilotalero96@hotmail.com
                <button onclick="closePopup()">
                        <img src="static/images/close.png"  width="20px" height="20px">
                </button>
            </span>
        </div>
    </h1>
</div>
